.detail {
  background-color: #1d90ce;
  height: 100vh;
  padding: 2.5rem;

  .content {
    padding: 1em;
    background-color: white;
    border-radius: 8px;

    .cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(min(100%, 150px), 1fr));
      gap: 10px;
 
      img{
        width: 100%;
      }
    }
  }
}
