<div class="list">
    <div class="content">
        <div class="card" style="width: 18rem;" *ngFor="let item of [1,2,3,4,5,6,7,8,9,9,9,9,9,9,9,9,9,]">
            <img src="https://images.ygoprodeck.com/images/cards/34541863.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card name</h5>
              <p class="card-text">Card description</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
</div>